{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} :: {{ title }}{% endblock %}


{% block main_content %}

<div class="col-sm-3">
    <div class="card">
        <div class="card-header" >
            <h5>Короткий зміст кореспонденції</h5>
        </div>
        
        <div class="d-flex justify-content-start ml-4">
            <a class="btn btn-sm btn-outline-primary rounded-2 mt-4" href="{% url 'lettersummary-create' %}" role="button">
                <i class="mr-2" data-feather="plus"></i>
                Додати
            </a>
        </div>
        
        <div class="card-body">
                <table class="table table-sm" >
                    <thead>
                        <tr>
                            <th class="text-wrap" style="font-size: 0.8em">Найменування</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in lettersummary_list %}
                        <tr>
                            <td class="text-wrap">
                                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>

        {% include 'inc/_pagination.html' %}
    </div>
</div>


{% endblock %}